.container-log{
    
    font-size: 60px;
    margin:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: antiquewhite;

}
.container-log section{
    font-size: 30px;
}
img{
    width: 80px;
    border-radius: 50%;
    color: red;
}
/* @media(max-width:800px){
    .container-log{
        border:none;
        margin-left : none;
    }
} */